<div class="callout">
  <p>O livro <strong><a href="/book">Pro Git</a></strong> completo, escrito por Scott Chacon, está disponível <a href="/book/pt-br">de graça para leitura online</a>.
  Versões em árvores mortas estão disponíveis na <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>. 
  </p>
</div>