%footer
  %div.site-source
    Este <a href="https://github.com/github/gitscm-next/blob/master/README.md#license">site aberto</a> está <a href="https://github.com/github/gitscm-next">hospedado no GitHub.</a><br>
    Correções, sugestões e comentários são bem-vindos.

  %div.sfc-member
    Git é membro da <a href="/sfc">Software Freedom Conservancy</a>

= javascript_include_tag "jquery-1.7.1.min.js", "jquery-ui-1.8.18.custom.min.js", "jquery.defaultvalue.js", "session.min.js", "site.js"
