<% if @related && @related.size > 0 %>
  <h4>Materiais Relacionados</h4>
  <ul class="related-material">
    <% @related.each do |rel| %>
      <li class="<%= rel.content_type %>">
      <strong><a href="<%= rel.content_url %>"><%= rel.name %></a></strong>
      <% if rel.content_type == "reference" %>
        in <a href="/docs">Referência</a>
      <% elsif rel.content_type == "book" %>
        in <a href="/book/en">Livros</a>
      <% elsif rel.content_type == "video" %>
        in <a href="/videos">Vídeos</a>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
