<p>
Versão original do livro em <a href="/book/">Inglês</a>
</p>
Este livro está traduzido em
  <a href="/book/">Alemão</a>,
  <a href="/book/de">Alemão</a>,
  <a href="/book/zh">Chinês</a>,
  <a href="/book/fr">Francês</a>,
  <a href="/book/ja">Japonês</a>,
  <a href="/book/nl">Holandês</a>,
  <a href="/book/ru">Russo</a>,
  <a href="/book/ko">Coreano</a>,
  <a href="/book/pt-br">Português do Brasil</a> e
  <a href="/book/cs">Checo</a>.
</p>
<p>
Traduções parciais estão disponíveis em
  <a href="/book/ar">Árabe</a>,
  <a href="/book/es">Espanhol</a>,
  <a href="/book/id">Indonésio</a>,
  <a href="/book/it">Italiano</a>,
  <a href="/book/mk">Macedônio</a>,
  <a href="/book/pl">Polonês</a>,
  <a href="/book/tr">Turco</a>,
  <a href="/book/zh-tw">Mandarim de Taiwan</a>,
  <a href="/book/es-ni">Espanhol (Nicarágua)</a>,
  <a href="/book/ca">Catalão</a>,
  <a href="/book/th">Tailandês</a> and
  <a href="/book/fi">Finlandês</a>.
</p>

<hr class="sidebar"/>
