- @section = "community"
- @subsection = ""
- @page_title = "Git - Community"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 Comunidade

  %h2 Lista de Emails

  %p
    Perguntas e comentários para a comunidade Git podem ser enviadas para a lista de emails através do endereço <a href="mailto:git@vger.kernel.org">git@vger.kernel.org</a>. <strong>Bugs devem ser enviados para esta lista.</strong>
    
  %p
    Clique <a href="mailto:majordomo@vger.kernel.org?body=subscribe git">aqui</a> para assinar a lista. O <a href="http://dir.gmane.org/gmane.comp.version-control.git">arquivo</a> pode ser encontrado em Gmane.

  %p
    Também existe a <a href="https://groups.google.com/forum/?fromgroups#!forum/git-users">lista de usuários Git</a> no Google Groups, que pode ser um bom lugar para inciantes perguntarem qualquer coisa.

  %h2 Canais IRC

  %p
    Se o manual e este livro não forem suficientes e você precisar de uma ajudar em pessoa, pode tentaro canal <span class="highlight fixed">#git</span> no servidor IRC Freenode (<strong>irc.freenode.net</strong>). Esses canais estão normalmente cheios de centenas de pessoas que conhecem o Git e que frequentemente estão dispostas a ajudar.

  %p
    Se precisar de ajudar específica em um das hospedagem pagas Git, pode tentar os canais IRC das mesmas (como <span class="highlight fixed">#github</span> ou <span class="highlight fixed">#gitorious</span> ) no mesmo servidor IRC.

  %h2 Contribuindo com o Git

  %p
    O <a href="https://github.com/git/git/tree/master/Documentation">directory de Documentação</a> no código fonte do Git tem vários arquivos que podem interessar a desenvolvedores que estão procurando contribuir. Depois de ler as <a href="https://github.com/git/git/blob/master/Documentation/CodingGuidelines">diretrizes de programação</a>, você pode aprender <a href="https://github.com/git/git/blob/master/Documentation/SubmittingPatches">como enviar patches</a>. Para aqueles procurando um envolvimento mais profundo, existe um <a href="https://github.com/git/git/blob/master/Documentation/howto/maintain-git.txt">guia para o mantenedor Git</a>.

