- @section = "downloads"
- @subsection = "installers"

- content_for :sidebar do
  %div.callout
    %p
      O livro <strong><a href="/book">Pro Git</a></strong> completo, escrito por Scott Chacon, está disponível <a href="/book/pt-br">de graça para leitura online</a>.
      Versões em árvores mortas estão disponíveis na <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>. 

%div#main
  %h1 Instaladores do Git

  %div.two-column
    %div.column-left
      %div.callout
        %table.binaries
          %tr
            %td
              %strong Debian
            %td
              =link_to "Estável", "http://packages.debian.org/stable/devel/git" 
              <span class="light">|</span>
              =link_to "Em Teste", "http://packages.debian.org/testing/devel/git" 
              <span class="light">|</span>
              =link_to "Instável", "http://packages.debian.org/unstable/devel/git"
          %tr
            %td 
              %strong Windows
            %td 
              =link_to "Estável", "http://code.google.com/p/msysgit/downloads/list"
              <span class="light">|</span>
              =link_to "Cygwin", "http://www.cygwin.com/setup.exe"
          %tr
            %td
              %strong Mac
            %td 
              =link_to "Estável", "http://code.google.com/p/git-osx-installer/downloads/list?can=3"
          %tr
            %td 
              %strong Solaris
            %td 
              =link_to "v8-10", "http://sunfreeware.com"
              <span class="light">|</span>
              =link_to "v9-10", "http://opencsw.org/packages/git/"

      %p
        <a href="http://code.google.com/p/git-core/downloads/list">Versões antigas</a> estão disponíveis e o <a href="https://github.com/gitster/git">repositório fonte do Git</a> está no GitHub.

      %p
        Snapshots diários do principal branch de desenvolvimento do Git estão disponíveis em <a href="http://codemonkey.org">codemonkey.org</a>.

    %div.column-right
      = partial 'shared/monitor'


  %h2 Git via Git

  %p
    Se você já tem o Git instalado pode obter a versão de desenvolvimento mais recente através do próprio Git:

  %code
    git clone git://github.com/gitster/git.git

  %p
    Se você tiver problemas conetando (Git usa a porta 9418), pode tentar acessar o repositório através do protocolo HTTP:

  %code
    git clone https://github.com/gitster/git.git

  %p
    Você também pode navegar pelo conteúdo do repositório do Git usando a <a href="https://github.com/git/git">interface web</a>..
