<div id="main">
  <h1 id="sfc">Git e Software Freedom Conservancy</h1>

  <p>Git é membro do projeto <a href="http://sfconservancy.org/">Software
  Freedom Conservancy</a>.  Conservancy é uma organizção sem fins lucratiovos que fornece apoio financeiro e administrativo a projetos de código aberto.

  <h2 class="section-start">Doações</h2>

  <p>A Conservancy aceita doações no nome do git. No passado, o dinheiro de doações iria tipicamente para custear a viagem de desenvolvedores para a nossa mini-conferência anual, 

    Conservancy accepts donations on git's behalf. In the past, project money has
  typically gone to defraying travel costs for developers to come to our annual <a href="https://git.wiki.kernel.org/index.php/GitTogether">GitTogether</a>.  Uma parte do dinheiro fica com a Conservancy para custear as despesas operacionais. Você também pode doar <a
  href="http://sfconservancy.org/donate">diretamente</a> para o fundo geral da Software Freedom Conservancy.

  <table class="data-table software">
    <tr><td valign="top">
      <h3 class="title">Google Checkout</h3>
      <p>Para doar ao Git via Google Checkout:

      <script type="text/javascript">
      function validateAmount(amount){
              if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
                      return true;
              }else{
                      alert('Você precisa indicar uma doação válida.');
                      amount.focus();
                      return false;
              }
      }
      </script>
      <form action="https://checkout.google.com/cws/v2/Donations/622836985124940/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top">
          <input name="item_name_1" type="hidden" value="Git Donation via Software Freedom Conservancy"/>
          <input name="item_description_1" type="hidden" value="Donation to the Git Project via Software Freedom Conservancy."/>
          <input name="item_quantity_1" type="hidden" value="1"/>
          <input name="item_currency_1" type="hidden" value="USD"/>
          <input name="item_is_modifiable_1" type="hidden" value="true"/>
          <input name="item_min_price_1" type="hidden" value="5.0"/>
          <input name="item_max_price_1" type="hidden" value="25000.0"/>
          <input name="_charset_" type="hidden" value="utf-8"/>
          <table cellpadding="5" cellspacing="0" width="1%">
              <tr>
                  <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="11" style="color:grey;" type="text" value="Enter Amount"/>
                  </td>
                  <td align="left" width="1%">
                      <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=622836985124940&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
                  </td>
              </tr>
          </table>
      </form>
    </td><td valign="top">
      <h3 class="title">Paypal</h3>
      <p>Para doar ao Git via PayPal:
      <div class="center">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GXTE9AECX4LAL">
        <input type="image"
               src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
               border="0" name="submit"
               alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" height="1" width="1"
             src="https://www.paypal.com/en_US/i/scr/pixel.gif">
      </form>
      </div>
    </td></tr>
  </table>


  <h3 class="title">Cheque ou Transferência</h3>
  <p>Nós também podemos aceitar doações em dólares americanos vindas de bancos nos Estados Unidos. Doações de bancos de fora dos EUA ou que não sejam em dólares devem ser transferidas eletrônicamente.
  Faça um cheque endossado para "Software Freedom Conservance, Inc." e escreva "Direct donation: Git" no campo de anotações. Cheques devem ser enviados para:
  </p>
  <div class="center">
  <pre>
  Software Freedom Conservancy, Inc.
  137 Montague ST STE 380
  BROOKLYN, NY 11201 USA
  </pre>
  </div>

  <p>A Conservancy pode aceitar doações via transferências internacionais, mas as instruções podem variar de acordo com o país de origem. Por favor entre em contato com <a
    href="mailto:accounting@sfconservancy.org">accounting@sfconservancy.org</a> para instruções</p>
</div>
